@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
}
.fh {
	width: 100%;
	height: 100%;
}
.bg {
	position: fixed;
	top: 0;
	z-index: -999;
	background-image: url(/fishPond/resource/images/backyard-pond-waterfall-on-comfortable-backyard-design-ideas-31.jpg);
	background-repeat: no-repeat;
 	background-size: 100%;
}
.form-signin {
	width: 330px;
	padding: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -165px;
	margin-top: -165px;
	color: #FFF;
}
#form-bg {
	height: 100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	opacity: 0.45;
	filter: alpha(opacity=45); /* For IE8 and earlier */
	background-color: #000000;
}
.form-signin .form-signin-heading{
	margin-bottom: 20px;
	margin-top: 10px;
	text-align:center;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#board{
	min-width:800px;
}
.user-style-main {
	background-color: #C0DEED;
}
.user-style-header{
    background-color: #ffffff;
}
.user-style-board {
	background-color: #FFFFFF;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-top: 10px;
	background: #fbfbfb;
}
.nav-main{
	width: 130px;
	margin-right: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top:8px;
	padding-bottom:8px;
	background-color: aliceblue;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}
.user-panel {
	padding: 15px;
	width: 990px;
	height:100%;
	background:#FFFFFF;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}
.navbar-btn-group {
	padding-top: 8px;
	padding-bottom: 8px;
}
.navbar-btn-group .unit{
	display: inline-block;
	margin-right:10px;
}
.user-li-none{
	list-style:none;
	display:inline-block;
}
.user-li-none > a{
	color:inherit;
}
.online-status-true{
	color:lawngreen;
}
.online-status-false{
	color:darkgray;
}
.wrap-table{
	min-height: 408px;
}
#devices-list > tbody > tr >th,#devices-list .viewDeviceDetail{
	cursor:pointer;
}

.user-glyphicon-orange{
	color: orange;
}
#user-head-mainpage{
	float:right;
	display: inline-block;
	padding: 5px 0;
	vertical-align: middle;
}
.user-small-panel{
	margin-top:8px !important;
	margin-bottom:8px !important;
}
.user-small-panel .panel-heading{
	padding:5px 15px !important;
}
.user-small-panel .panel-body{
	padding:8px !important;
}

.user-small-panel .col-xs-4{
	margin-bottom:0;
}
.user-small-panel .col-xs-4 input{
	display: inline-block;
	width:100px;
}
#userList{
	height:600px;
	overflow:auto;
	border: 1px solid #e7e7e7;
}
.actions{
	padding:11px 0 8px;
}
/* ==========================================================
 * Spinner
 * =========================================================*/
.spinner{
     width:60px;
     height:60px;
     margin:30px auto;
     position:relative;
     background:url(/fishPond/resource/images/progressCircle.png);
     background-size:100%;
     -webkit-animation: rotate 1.5s linear infinite;
     -moz-animation: rotate 1.5s linear infinite;
     animation: rotate 1.5s linear infinite;
}
@keyframes rotate { 100% { transform:rotate(-360deg); } }